/*
*= require bootstrap.min.css
*= require ../font-awesome/css/font-awesome.css
*= require plugins/morris/morris-0.4.3.min.css
*= require plugins/timeline/timeline.css
*= require sb-admin.css
*/

.form-horizontal.normal-padding .form-group {
    margin-left: 0;
    margin-right: 0;
}

.loader {
    font-size: 20px;
    color: #1087dd;
}